body {
  background-color: grey;
}

.redDiv {
    width:100%;
    height:90%;
    background:red;
}

.greenDiv {
  width:100%;
    height:90%;
    background:green;
}

.blueDiv {
  width:100%;
  height:90%;
  background:blue;
}

.yellowDiv {
  width:100%;
  height:90%;
  background: yellow;
}

.violetDiv {
  width:100%;
  height:90%;
  background: violet;
}

.purpleDiv {
  width:100%;
  height:90%;
  background: purple;
}

.blackDiv {
  width:100%;
  height:90%;
  background: blacks;

}

.canvasBorder {
  width: 590px;
  height: 590px;
  border: 5px solid black;
  
  



}

.canvas {
  display: flex;
  justify-content: center;
  align-items: center;
}


.card {
  border: 2px solid #ca8b15;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.2s;
  width: 25%;
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  
  
}

.cardImage {
  width: 250px;
  height: 250px;
  
}

.showCard {
  width: 50%;
  border: 4px solid #ca8b15;
  display: flex;
  justify-content: center;
  margin-left: 20%;
}

.showCardImage {
  width: 800px;
  height: 800px;
}



.colorSpanContainer {
  display: table;
}

.colorSpan {
  display: table-cell;
  vertical-align: middle;
}

.artworkCard {
  width: 25%;
  border: 4px solid #ca8b15;
  display: flex;
  justify-content: center;
  margin-left: 20%;
}

.artworkCardImage {
  width: 250px;
  height: 250px;
}

.artworkShow {
  width: 50%;
  border: 4px solid #ca8b15;
  display: flex;
  justify-content: center;
  margin-left: 20%;
}

.artworkShowImage {
  width: 800px;
  height: 800px;
}
/* #eiselCardFlex {

} */

/* .column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
/* .row {margin: 0 -5px;}

/* Clear floats after the columns */
/* .row::after {
  content: "";
  display: table;
  clear: both;
} */

