.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.redDiv {
    width:100%;
    height:90%;
    background:red;
}

.greenDiv {
  width:100%;
    height:90%;
    background:green;
}

.blueDiv {
  width:100%;
  height:90%;
  background:blue;
}

.yellowDiv {
  width:100%;
  height:90%;
  background: yellow;
}

.violetDiv {
  width:100%;
  height:90%;
  background: violet;
}

.purpleDiv {
  width:100%;
  height:90%;
  background: purple;
}

.canvasBorder {
  width: 490px;
  height: 490px;
  border: 5px solid black;

}

.card {
  border: 1px solid #dadada;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.2s;
  width: 50%;
}