/* body {
  background-color: grey;
} */



.canvasBorder {
  width: 590px;
  height: 590px;
  border: 5px solid black;
  
}

.canvas {
  display: flex;
  justify-content: center;
  align-items: center;
}



.coloringPrintBorder {
  width: 800px;
  height: 800px;
  border: 5px solid black;
}


#eiselContainerBackground {
  background-image: url('https://live.staticflickr.com/216/478083244_b417c1badd_b.jpg');
  width: 100%;
  height: 100%;
  background-size: cover;
  position: fixed;
  
}

#eiselContainer {
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  flex-wrap: column;
}

.card {
  /* border: 2px solid #050504;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2); */
  transition: 0.2s;
  width: 25%;
  display: flex;
  flex-flow: row wrap;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 10px;
  
  
}

.cardImage {
  width: 250px;
  height: 250px;
  border: 2px solid #ca8b15;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 50px;
  margin-left: 100px;
  
}

.lineTitle {
  margin-left: 150px;
}

.lineGenre {
  margin-left: 150px;
}

.cardTitle {
  margin-left: 150px;
}

.cardGenre {
  margin-left: 160px;
}

.showCard {
  width: 801px;
  height: 801px;
  border: 10px solid #ca8b15;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: fixed;
  justify-content: center;
  margin-left: 28%;
}

.showCardImage {
  width: 815px;
  height: 815px;
  display: fixed;
  
}

.eiselShowDelete {
  
  
  width: 100%;
}



.colorSpanContainer {
  display: table;
}

.colorSpan {
  display: table-cell;
  vertical-align: middle;
}

#artworkCardWrapper {
  position: fixed;
  margin-top: 75px;
  margin-left: 50px;
}
#artworkCardContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 5px

}

.artworkCard {
  width: 260px;
  height: 260px;
  border: 4px solid #ca8b15;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-left: 20%;
  display: flex;
  flex-flow: row wrap;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 5px;
}

.artworkCardImage {
  width: 250px;
  height: 250px;
  border: 4px solid #1f1e1d

}

.artworkCardButton {
  font-family: 'Snell Roundhand';
  width: 100px;
  margin-left: 180px;
  
}

.artworkCardDate {
  margin-left: 180px;
}

.artworkCardName {
  margin-left: 100px;
}

.artworkCardTitle {
  margin-left: 80px;
}

.artworkShow {
  width: 50%;
  border: 4px solid #ca8b15;
  display: flex;
  justify-content: center;
  margin-left: 20%;
}

.artworkShowImage {
  width: 800px;
  height: 800px;
}

.galleryBackground {
  height: 100%;
  width: 100%;
  background-image: url('https://i.pinimg.com/originals/99/62/7a/99627a7afff8e85fbb7a0ad81938487b.jpg');
  background-size: cover;
  position: fixed;
  z-index: 1;
}

#door {
  position: fixed;
  height: 30%;
  width: 6%;
  margin-top: 560px;
  margin-left: 775px;
}

#eisel {
  position: fixed;
  width: 10%;
  margin-top: 450px;
  margin-left: 10px;
  transform: skewY(1deg) rotate(180deg) skewX(5deg);
  
  
}

#coloringBook {
  position: fixed; 
  height: 4%;
  width: 3%;
  margin-left: 990px;
  margin-top: 570px;
  

}




#pallete {
  position: fixed;
  width: 8%;
  height: 5%;
  margin-left: 868px;
  margin-top: 875px;
  transform: skewX(10deg) rotate(170deg);
}

#door:hover {
  border: 4px solid #9ac9ca;
}

#eisel:hover {
  border: 4px solid #9ac9ca;
}

#coloringBook:hover {
  border: 4px solid #9ac9ca;
}

#pallete:hover {
  border: 4px solid #9ac9ca;
}





.utensilBar {
  position: fixed;
  z-index: 1;
  background-color: rgb(163, 161, 161);
  height: 100%;
  width: 175px;
}

.eraseButton {
  margin-left: 15px;
  margin-top: 300px;
}

/* #eraserContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

} */

#opacitySlider {
  width: 150px;
}

#strokeWidthSlider {
  width: 150px;
}

#eiselTestBackground {
  background-color: lavender;
  position: fixed;
  height: 100%;
  width: 100%;

}

#coloringTestBackground {
  background-color: seagreen;
  position: fixed;
  height: 100%;
  width: 100%;
}

.colorBar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  
}

.colorBarLabel {
  font-family: 'Marker Felt'
}

.opacityContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
}

.strokeWidthContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-top: 300px;
}

.eraser {
  width: 100px;
  margin-left: 20px;
}

#postCanvasContainer {
  width: 300px;
  margin-left: 125px;
}

#eiselform {
  /* margin-top: 250px;
  margin-left: 60px; */
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  padding: 5px;
  margin-left: 25px;
}

.eiselformInputs {
  margin: 10px;
  width: 200px;
}


#eiselformContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  margin-left: 125px;
  background-color: skyblue;
  width: 290px;
  height: 200px;

}


.NavBar {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  color: grey
}

.NavLink {
  display: inline;
  color: white;
}

.NavLink:link {
  color: white;
}

.NavLink:visited {
  color: white;
}

/* #galleryFilterSelectTab {
  background-color: gold;
  position: fixed;
  width: 210px;
  height: 100px;
  margin-left: 1700px;
  z-index: -1;
} */


#galleryFilterSelect {
  position: absolute;
  margin-left: 1900px;
  width: 150px;
  height: 315px;
  z-index: 1;
  
  
}

/* .showDetailsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
} */

.showDetailsLike {
  margin-left: 880px;
}

.showDetailsDelete {
  margin-left: 850px;
}

#signupBackground {
  height: 100%;
  width: 100%;
  background-image: url('https://25.media.tumblr.com/tumblr_lsf7w5bUxO1qbdn8eo1_500.jpg');
  background-size: cover;
  position: fixed;
}


#signupContainer {
  
  border-radius: 2rem;
  background-color: rgb(169, 192, 201);
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 30%;
  margin-left: 450px;
}

#signupForm {
  display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.signupInput {
  margin: 5px;
  padding: 5px;
  width: 25%;
  font-family: 'Marker Felt';
} 

.signupLabel {
  display: inline-block;
  text-align: right;
  font-family: 'Marker Felt'

}

#signupButton {
  margin: 15px;
}

#signupLoginLink {
  margin-left: 350px;
  font-family: 'Marker Felt';
}

#loginBackground {

  height: 100%;
  width: 100%;
  background-image: url('https://i.redd.it/5uh5lqofi7451.jpg');
  background-size: cover;
  position: fixed;
}

#loginContainer {
  border-radius: 2rem;
  background-color: rgb(169, 192, 201);
  margin-top: 100px;
  display:flex;
  flex-direction: column;
  width: 25%;
  height: 20%;
  margin-left: 700px;
  
}

#loginForm {
  display: flex;
	align-items: center;
	justify-content: center;
  flex-direction: column;
  margin-top: 30px;
}

.loginInput {
  margin: 10px;
  padding: 5px;
  width: 50%;
  font-family: 'Marker Felt';

}

.loginLabel {
  display: inline-block;
  text-align: right;

}

#loginButton {
  margin: 15px;
}

#museumBackground {
  background-image: url('https://media.aedas.com/styles/mcrop/s3/Brighton-Dome-Art-Gallery9_UK_Martin-Charles__1.jpg?EWGAp1UGDTszTg2N5vygdZpVol7_k9p7');
  width: 100%;
  height: 100%;
  position: fixed;
  background-size: cover;

}

#museumSearchContainer {
  display: flex;
	align-items: center;
	justify-content: center;
  flex-direction: row;
  margin-top: 50px;
  border-radius: 2rem;
  background-color: rgb(219, 204, 69);
  opacity: 0.8;
  width: 50%;
  height: 10%;
  margin-left: 500px;
  

}

#museumSearchInput {
  margin: 60px;
  width: 30%;
  font-family: 'Snell Roundhand';
}

#museumSearchButton {
  margin: 60px;
  font-family: 'Snell Roundhand';
}

#museumTag {
  
  background-color: rgb(201, 199, 182);
  position: fixed;
  width: 14%;
  height: 12%;
  margin-top: 50px;
  margin-left: 50px;
  font-family: 'Snell Roundhand';
}

.detailsTab {
  background-color: gold;
  
  position: fixed;
  width: 820px;
  height: 200px;
  font-family: 'cursive';
  margin-left: 575px;
  margin-top: 10px;

}

.detailsBackground {
  background-image: url('https://media.aedas.com/styles/mcrop/s3/Brighton-Dome-Art-Gallery9_UK_Martin-Charles__1.jpg?EWGAp1UGDTszTg2N5vygdZpVol7_k9p7');
  height: 100%;
  width: 100%;
  background-size: cover;
  position: fixed;
}

.detail {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5px;
}

.artDetailsTabOne {
  background-color: gold;
  
  position: fixed;
  width: 420px;
  height: 180px;
  margin-top: 50px;
  margin-left: 570px;
}

.artDetailsTabTwo {
  background-color: gold;

  position: fixed;
  width: 425px;
  height: 180px;
  margin-top: 50px;
  margin-left: 970px;
}

.artDetail {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1px;
  font-family: 'Snell Roundhand';
}

.museumShowButton {
  margin: 10px;
  width: 25%;
  margin-left: 300px;
  font-family: 'Snell Roundhand';
}